
body {
  background-image: url("images/bg.jpg") repeat;
}

#container {
  margin: 0 auto;
}

.bigImage {
  float: left;
}

.bigImage img {
  width: 30%;
  border: 5px solid black;
  margin: 0 auto;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: right;
}

.thumbnails img {
  width: 40%;
  height: 40%;
  margin: 2px;
  border: 3px solid black;
}
