
#container {
  margin: 0 auto;
}

.bigImage img {
  width: 50%;
}

.thumbnails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.thumbnails img {
  width: 50%;
  height: 50%;
  margin: 10px;
}
