
body {
  background-image: url("imamges/bg.jpg") repeat-x;
}

#container {
  margin: 0 auto;
}

.bigImage {
  float: left;
}

.bigImage img {
  width: 30%;
  border: 5px solid black;
  margin: 0 auto;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: right;
}

.thumbnails img {
  width: 50%;
  height: 50%;
  margin: 10px;
}
